@import '../../../assets/css/partials/variables';

.invoice-container {
  background-color: white;
  color: black;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 7pt;
  margin-left: 12pt;
  margin-top: 17pt;
  letter-spacing: 0.2pt;
  width: 435pt;
}

.separator {
  padding-top: 12pt;
  height: 2pt;
  line-height: 0pt;
  text-align: left;
}

.invoice-header {
  display: flex;
  flex-direction: column;
}

.first-row__header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logo-side {
  display: flex;
  flex-direction: column;
  flex: 1 0 75%;
}

.bill-side {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 25%;
}

.address p {
  padding: 0;
  margin: 0;
  text-align: start;
}

.address p:last-child {
  margin-bottom: 5.5pt;
}

.customer-data {
  border: thin solid black;
  border-radius: 3pt;
  padding: 3pt 5pt;
  text-align: center;
}

.client-data {
  border: thin solid black;
  border-radius: 3pt;
  display: flex;
  flex-direction: column;
  margin-top: 5pt;
  padding: 2pt;
}

.customer-data__row {
  display: flex;
  flex-direction: row;
  padding: 3pt 0;
  flex-basis: 40px;
}

.note-mode__title {
  text-align: center;
  font-size: 9pt;
  font-weight: bolder;
  letter-spacing: 0.75pt;
}
.bill-side__date {
  text-align: center;
  display: flex;
  flex-direction: row;
  .date-label {
    flex: 1 0 20%;
  }
  .date-value {
    flex: 1 0 50%;
    border-bottom: 1px solid black;
  }
}

.customer-label {
  text-align: start;
  flex: 1 0 10%;
}
.customer-value {
  border-bottom: 1px solid black;
  flex: 1 0 65%;
  padding-left: 5px;
  text-align: start;
}
.code-label {
  text-align: end;
  flex: 1 0 8%;
}
.code-value {
  border-bottom: 1px solid black;
  flex: 1 0 12%;
  padding-left: 5px;
  text-align: start;
}

.address-label {
  text-align: start;
  flex: 1 0 12%;
}

.address-value {
  border-bottom: 1px solid black;
  flex: 1 0 63%;
  padding-left: 5px;
  text-align: start;
}

.phone-label {
  text-align: start;
  flex: 1 0 10%;
}


.phone-value {
  border-bottom: 1px solid black;
  flex: 1 0 15%;
  padding-left: 5px;
  text-align: start;
}

.paymentConditions-value {
  border-bottom: 1px solid black;
  flex: 1 0 15%;
  padding-left: 5px;
  text-align: start;
}
.control-number-counter {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 2.5pt;
  width: 75%;
}


.control-number-descrip, .control-number-code {
  text-align: center;
  font-weight: bolder;
}

.control-number-code {
  color: red;
}

.invoiced-products-for-sale-table {
  width: 100%;
  margin-top: 1pt;
  border-top: thin solid black;
  border-right: thin solid black;
  border-bottom: thin solid black;
}

.invoiced-products-for-sale-table td:first-child {
  width: 15pt;
  text-align: center;
}
.invoiced-products-for-sale-table td:nth-child(2) {
  width: 30pt;
}
.invoiced-products-for-sale-table td:nth-child(3) {
  text-align: center;
  width: 60pt;
}
.invoiced-products-for-sale-table td:nth-child(5) {
  width: 40pt;
  text-align: right;
}
.invoiced-products-for-sale-table td:nth-child(6) {
  width: 60pt;
  text-align: right;
}
.invoiced-products-for-sale-table td:last-child {
  width: 60pt;
  text-align: right;
}

.invoiced-products-for-sale-table thead tr th,
.invoiced-products-for-sale-table tbody tr td {
  padding: 0 5pt;
  //padding-bottom: 1pt;
  border-left: thin solid black;
  //border-top: thin solid black;
}

.invoiced-products-for-sale-table thead tr th {
  border-bottom: thin solid black;
}

.invoice-footer {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 2pt;
}

.left-invoice-signature,
.right-invoice-signature {
  flex: 1 1 28%;
  margin-right: 2pt;
  border-bottom: thin solid black;
}

.row-sign {
  display: flex;
  flex-direction: row;
}

.descrip-sign {
  flex: 1 1 50%;
  text-align: left;
  border-top: thin solid black;
  border-left: thin solid black;
  padding: 0pt 3pt;
}

.to-fill-sign {
  flex: 1 1 48%;
  border-top: thin solid black;
  border-left: thin solid black;
  border-right: thin solid black;
}

.invoive-summary {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.gral-total {
  border-bottom: thin solid black;
}

.row-summ {
  display: flex;
  flex-direction: row;
}

.descrip-summ {
  flex: 1 1 30%;
  font-weight: bolder;
  padding: 0pt 3pt;
  text-align: right;
}

.to-fill-summ {
  flex: 1 1 22%;
  border-left: thin solid black;
  border-top: thin solid black;
  border-right: thin solid black;
  font-weight: bolder;
  padding: 0pt 10pt;
  text-align: right;
}
