//Colores basicos
$primary: #f2bd15;
$form-bg: #00000080;
$white: white;
$black: black;

// Colores de tablas
$bg-tbl-header: $primary;
$bg-tbl-td-cell: #eff4f7;
$bg-tbl-tf-cell: #e0e7eb;
$tbl-border: #94979a;

//Colores Navbar
$bg-navbar: #000000bf;
$nav-link-border: #f2be1540;

//Colores de Texto
$text-color: black;

// Ancho de Inputs
$inputs-width-big-screen: 200pt;
$inputs-width-litle-screen: 100%;
