//Colores basicos
$primary: #000000bf;
$secondary: #f2bd15;
$danger: #ff0000;
$div-background: #00152908;
$tbl-td-background: #eff4f7;
$tbl-tf-background: #e0e7eb;
$border-color: #00152980;
$nav-link-border: #f2be1540;
$form-bg: #00000080;
$text-color: black;
$white: white;
$black: black;
