@import '../../../../assets/css/partials/variables.scss';

.found-data-table {
  z-index: 2 !important;
  position: absolute;
  background-color: $bg-tbl-td-cell;
  cursor: pointer;
  width: 100%;
  border: 1px solid $tbl-border;
  border-collapse: collapse;

  thead tr th {
    text-align: center;
    background-color: $bg-tbl-header;
    border: 1px solid $tbl-border;
    padding: 1px 20px;
  }

  tbody tr td {
    text-align: left;
    border: 1px solid $tbl-border;
    padding: 3px 20px;
  }
}
