@import '../../../../assets/css/partials/variables.scss';

.--sale-page__container {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  width: 100%;

  padding: 24px;

  & .content-22 {
    position: absolute;
    bottom: 1172pt;
    display: flex;
    flex-direction: column;
  }

  .--sale-page__row {
    gap: 1.5em;
  }
}
.--search-data__container {
  width: 100%;
  max-width: 250px;
  scroll-snap-type: x mandatory;
  .--search-inputs__container {
    background-color: #000000d4;
    border: 1px solid $border-color;
    border-radius: 3px;
    min-height: 400px;
    //width: 100%;
    //flex: 1 0 20%;
    padding: 2em 1em;

    .--search-customer__title,
    .--search-product__title {
      color: $secondary;
    }

    .--search-product__title {
      margin-top: 18px;
    }
  }
}

.--info-data__container {
  //flex: 1 0 70%;
  justify-content: flex-start;
  //overflow: auto;
  //scroll-snap-type: x mandatory;

  & .--asset-selector__container {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-wrap: wrap;
  }
}

.--search-data__container .ant-divider .ant-divider-inner-text,
.--customer-active__container .ant-divider .ant-divider-inner-text,
.--products-for-sale__container .ant-divider .ant-divider-inner-text,
.--product-active__container .ant-divider .ant-divider-inner-text {
  font-size: 13px;
}

.--search-data__divider,
.--customer-active__divider,
.--products-for-sale__divider,
.--product-active__divider {
  margin: 9px 0 5px 0 !important;
}

.--product-active__container {
  width: 100%;
  max-width: 250px;
  scroll-snap-type: x mandatory;
}

.--customer-active__container {
  width: 100%;
  max-width: 250px;
  scroll-snap-type: x mandatory;
}

.--products-for-sale__container {
  width: 100%;
  & .--products-for-sale__check-in-container {
    text-align: right;
    & .--products-for-sale__check-in-button {
      text-align: right;
      margin-top: 1em;
    }
  }
}
