@import '../../../../assets/css/partials/variables.scss';

.--sale-page__container {
  justify-content: center;

  & .content-22 {
    position: absolute;
    bottom: 1172pt;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000; */
    /* background: green; */
  }
}

.--sale-page__display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.--search-data__container {
  background-color: $div-background;
  border: 1px solid $border-color;
  border-radius: 5px;
  flex: 1 0 20%;
  max-height: 31em;
  min-height: 31em;
  padding: 0 1em;
}

.--search-product__title {
  margin-top: 18px;
}

.--info-data__container {
  flex: 1 0 70%;
  justify-content: flex-start;
  overflow: auto;
  scroll-snap-type: x mandatory;

  & .--asset-selector__container {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    flex-wrap: wrap;
  }
}

.--customer-active__container .ant-divider .ant-divider-inner-text,
.--products-for-sale__container .ant-divider .ant-divider-inner-text,
.--product-active__container .ant-divider .ant-divider-inner-text {
  font-size: 13px;
}

/* .--customer-active__divider {
  margin: 18px 0 5px 0 !important;
} */

.--customer-active__divider,
.--products-for-sale__divider,
.--product-active__divider {
  margin: 9px 0 5px 0 !important;
}

.--products-for-sale__container {
  & .--products-for-sale__check-in-container {
    text-align: right;
    & .--products-for-sale__check-in-button {
      text-align: right;
      margin-top: 1em;
    }
  }
}
