@import '../../../../assets/css/partials/variables.scss';

.--customer-info__table {
  scroll-snap-type: x mandatory;
  width: 100%;
  font-size: smaller;
  table-layout: fixed;

  & thead th {
    text-align: center !important;
    padding: 0 8px !important;
    background-color: $primary !important;
  }

  & tbody tr td {
    padding: 0 8px !important;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.--customer-info__container {
  padding: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.--action-buttons {
  text-align: center;
}
