.ant-descriptions-header {
  margin-bottom: 2px !important;
}

.ant-descriptions-item-label,
.ant-descriptions-item-content {
  padding: 2px 2px !important;
}

.ant-descriptions-view {
  border: 1px solid #d9d9d9 !important;
  border-radius: 3px !important;
  padding: 12px !important;
}