@import '../../../../assets/css/partials/variables.scss';

.--product-info__table {
  scroll-snap-type: x mandatory;
  width: 100%;

  & thead th {
    text-align: center !important;
    padding: 0 8px !important;
    background-color: $primary !important;
    font-size: 0.75rem;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & tbody tr td {
    padding: 0 8px !important;
    font-size: 0.75rem;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.product-info__container {
  padding: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}

.--product-card__carousel {
  & .slick-prev,
  .slick-next,
  .slick-prev:hover,
  .slick-next:hover {
    top: 30% !important;
    font-size: 16px !important;
    color: currentColor !important;
  }

  & .slick-prev,
  .slick-prev:hover {
    left: -6px !important;
  }

  & .slick-next,
  .slick-next:hover {
    right: -8px !important;
  }
}

.--product-card__details {
  margin-top: 1em;
  text-align: center;

  & .--product-card__stock {
    text-align: center;
    & p {
      margin-bottom: 0 !important;
    }
  }
}

.--product-card__brand-avatar {
  font-size: 12px;
}
