@import '../../../../assets/css/partials/variables.scss';

.--product-info__table {
  // overflow: overlay;
  width: 100%;

  & thead th {
    text-align: center !important;
    padding: 0 12px !important;
    background-color: $primary !important;
  }
}

.product-info__container {
  padding: 5px;
  border: 1px solid hsla(0, 0%, 0%, 0.1);
}
