@import '../../../assets/css/partials/variables.scss';

.--select-before__container {
  margin-bottom: 0px !important;
}

/* .-customer-contact__container {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin-top: 30px;
  padding: 24px;
}
 */
