@import 'antd/dist/antd.css';
@import './assets/css/partials/variables.scss';

.ant-table-layout-fixed table {
  table-layout: auto !important;
}

.--action-icon__remove {
  font-size: 18px;
  margin-left: 10px;
  color: red;
}

.--action-icon__edit {
  font-size: 18px;
  margin-right: 10px;
  color: green;
}

.--action-icon__add {
  font-size: 18px;
  margin-right: 10px;
  color: blue;
}
