@import 'antd/dist/antd.css';
@import './assets/css/partials/variables.scss';

/* start Aside & menu */
.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup .ant-menu-dark .ant-menu-item-selected {
  background-color: $secondary !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  background-color: $secondary !important;
}

.ant-layout-sider {
  background-color: $primary !important;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: $primary !important;
}

.ant-layout-sider-trigger {
  background-color: $primary !important;
}

/* end Aside & menu */

.--action-icon__remove {
  font-size: 18px;
  margin-left: 10px;
  color: red;
}

.--action-icon__edit {
  font-size: 18px;
  margin-right: 10px;
  color: green;
}

.--action-icon__add {
  font-size: 18px;
  margin-right: 10px;
  color: blue;
}
