.--select-list-item__container {
  display: flex;
  font-size: 12px;
}
.--select-list-item__container:nth-child(even) {
  background: rgb(180, 180, 180);
}

.--select-list-item__code {
  flex: 1 0 33%;
  font-weight: bold;
  overflow: hidden !important;
}
.--select-list-item__title {
  flex: 1 1 66%;
  margin-left: 5px;
  text-align: left;
  overflow: hidden !important;
}
